# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.core

# Trinity-Kate
*~

# Building
out/*
bld/*
bin/*
lib/*
config.h
config.log
config.status
y.tab.h
yacc.h
objc.m
objc
objc1
postlink
Makefile
